@font-face {
	font-family: 'Roboto-Bold';
	src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto-Light';
	src: url(../fonts/roboto/Roboto-Bold.ttf);
}



.contenedor-nav {
	width: 100%;
	height: 50px;
	margin: 20px;
	background: #7639481a;
    border-bottom: 6px solid #763948;
}
 .nav-item {
 	margin: 0 10px;
 }
.boton {
	font-family: Roboto-Regular;
	font-size: 20px;
	right: 0;
	margin: 10px;
	color: white;
	background: #feb640;
	padding: 7px;
	border-radius: 12px;
    box-shadow: 2px 2px 2px #484848;
}

.boton:hover {
	color: white;
	background: #484848;
	text-decoration: none;
	box-shadow: 2px 2px 2px #fff;
}

.primer-contenedor {
	margin: 50px 50px 0 50px;
	padding: 14px;
}

.imagen-principal {
	width: 80%;
	height: auto;
}
.imagen-home {
	width: 80%;
	height: 500px;
	box-shadow: 3px 3px 15px 6px #484848;
	border: 2px solid #feb640;
	margin-top: 30px;
	border-radius: 100px 200px 150px 100px;;
	padding: 5px;
}

.imagen-neo {
	width: 80%;
	height: auto;
}
.imagen-trio {
	width: 100%;
	height: auto;
	margin-top: 50px;
	padding: 5px;
	box-shadow: 3px 3px 10px 10px #484848;
	border:2px solid #484848;
	border-radius: 90%;
	margin: 100px 15px;
    padding: 31px 10px;

}
.titulo-principal {
	margin: 50px;
}
.subtitulo {
	width: 500px;
	font-family: Roboto-Bold;
	font-size: 52px;
	border-top: 2px solid #763948;
}

.titulo {
	font-family: Roboto-Light;
	font-size: 70px;
	text-shadow: 5px 5px #b2b2b2;
	color: #763948;
}

.texto {
	font-family: Roboto-Regular;
	font-size: 21px;
	margin-top: 20px;


}

.fondo {
	background:  #76394822;
}


.imagen-rupestre {
    border-radius: 20px;
    border: 2px solid  #763948;
}

.text-rupestre {
	margin: 10%;
	font-family: Roboto-Regular;
	font-size: 20px;
}

/*
colores:
morado: #763948;
amarillo:#feb640;
Comandos y etiquetas que ocuparemos
cajas
width
height
margin
padding
font-face
font-size
font-family
position
*/