.contenedorprincipal {
	width: 1200px;
	height: 120px;
	background: #1F1F1F;
	position: relative; 
}

@font-face {
	font-family: 'Bangers.zip';
	src: url(../fonts/Bangers.zip);
}

p{ 
	font-family:Bangers.zip ;
	font-size: 50px;
	color: #27FF3D;
}

.contenedor1 {
	width: 1200px;
	height: 270px;
	background: #1F1F1F;
	position: relative;
}

.contenedor2 {  
	width: 1200px;
	height: 252px;
	background: #1F1F1F;
	position: relative;
}

.contenedor3 {  
	width: 1200px;
	height: 194px;
	background: #1F1F1F;
	position: relative;
}