@font-face {
	font-family: 'blox';
	src: url(../font/blox.ttf);
}

@font-face {
	font-family: 'Halloween.ttf';
	src: url(../font/Halloween.ttf);
}


.imagen-portada{
	width: 100%;
	height: 100%;
	position: absolute;
	filter:opacity(40%);
}

.imagen {
	width: 90%;
}

.imagen2 {
	width: 500px;
	margin: 50px;
}
.contenedor1{
	position: relative;
}
.texto{
	color:#05F0DF;
	font-family: blox;
	position: relative;
	padding:  50px;
	font-size: 200px;
	margin: 10%;
}
.text{
font-family: blox;
position: relative;
font-size: 25px;
color:#8610F0;
margin: 100px 50px;
}
.subtitulo{
	font-family: blox;
	position: relative;
	font-size: 25px;
	color:#FF127D;
	margin: 10%;
}
.fuente {
    width: 100%;
    height: 400px;
    margin: 100px 20px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #05F0DF;
}